NODE_ENV=development
HOST=0.0.0.0
PORT=3000
APP_NAME=internal-id
APP_BASE_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/internal_id
DATABASE_LOGGING=false
BETTER_AUTH_BASE_PATH=/api/auth
BETTER_AUTH_COOKIE_NAME=internal_id_session
