NODE_ENV=development
HOST=0.0.0.0
PORT=3000
APP_NAME=internal-id
APP_BASE_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/internal_id
DATABASE_LOGGING=false
BETTER_AUTH_BASE_PATH=/api/auth
BETTER_AUTH_COOKIE_NAME=internal_id_session
BETTER_AUTH_SECRET=replace-this-before-production
BETTER_AUTH_LOGIN_PATH=/login
BOOTSTRAP_ADMIN_EMAIL=admin@company.com
BOOTSTRAP_ADMIN_DISPLAY_NAME=Internal ID Administrator
BOOTSTRAP_ADMIN_GIVEN_NAME=Internal
BOOTSTRAP_ADMIN_FAMILY_NAME=Administrator
BOOTSTRAP_ADMIN_USERNAME=internal.admin
BOOTSTRAP_ADMIN_GROUP_SLUG=internal-id-admins
BOOTSTRAP_ADMIN_GROUP_NAME=Internal ID Administrators
BOOTSTRAP_CLIENT_ID=internal-id-sample-client
BOOTSTRAP_CLIENT_NAME=Internal ID Sample Client
BOOTSTRAP_CLIENT_REDIRECT_URI=http://localhost:4000/auth/callback
BOOTSTRAP_CLIENT_POST_LOGOUT_REDIRECT_URI=http://localhost:4000/logout/callback
